<h2>Send a New Message</h2>
<form method="POST" action="/new">
  author: <input type="text" name="author" id="author">
  message: <input type="text" name="message" id="message">
  <input type="submit">
</form>

<% if (locals.errors) { %>
  <h2>Errors Occured</h2>
  <ul>
  <% locals.errors.forEach((error)=> { %>
    <li>
      <%= error.msg %>
    </li>
    <% }); %>
      </ul>
      <% } %>